<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo</title>
</head>

<body>
  <app-todo-app (dataEntered)="recievData($event)"></app-todo-app>
  <h1 *ngIf="todo.length==0" class="text-secondary fw-bold text-center">Let's get some work done!</h1>

  <div *ngFor="let dataEntered of todo" class="">
    <app-child-todo [dataEntered]="dataEntered"  (data)="delData($event)" ></app-child-todo>
  </div>
</body>

</html>